# Git
.git
.gitignore

# CI
.github
.codeclimate.yml
.travis.yml
.taskcluster.yml

# Docker
docker-compose.yml
.docker
Dockerfile*

# Python
__pycache__/
*/__pycache__/
*.py[cod]
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Logs
pip-log.txt
pip-delete-this-directory.txt
*.log

# Tests and coverage
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
tests/

# Documentation
docs/
mkdocs.yml

# Virtual environment
.env/
.venv/
venv/

# Tools configuration and tasks
tasks/
tox.ini
setup.cfg
